// Заголовки, загальні БЕМ блоки та інше...
.title {
	font-weight: 500;
	line-height: 1.2; /* 48/40 */
	@include adaptiveValue("font-size", 40, 26, 0, 1400, 768);
	&--big {
		color: $whiteColor;
		// font-size: toRem(66);
		font-weight: 600;
		line-height: 1.19; /* 79/66 */
		@include adaptiveValue("font-size", 66, 32, 0, 1400, 768);
	}
//-------------------------------------------------------
	//* Animation
	opacity: 0;
	transform: translate(0, -20%);
	._watcher-view & {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1.4s 0.2s;
	}
//-------------------------------------------------------
}

.text {
	line-height: 1.31; /* 21/16 */
//-------------------------------------------------------
	//* Animation
	opacity: 0;
	transform: translate(0, 20%);
	._watcher-view & {
		opacity: 1;
		transform: translate(0, 0);
		transition: all 1.4s 0.2s;
	}
	//-------------------------------------------------------
}
